  <div id="main">
      <div class="divLeftContent">
          <a href="/"><img id="titlePic" src="./img/knowledgeBase.png" /></a>
          <img id="signupPic" src="./img/signupPic.png" />
      </div>
      <div class="divRightContent">
          <div class="loginContentDiv">
              <form class="signupForm" method="POST" action="login">
                <input id="loginEmail" type="text" name="email" placeholder="email" />
                <input id="loginPassword" type="text" name="password" placeholder="password" />
                <button id="loginButton" type="submit">login</button>
              </form>
          </div>
          <div class="textRight">
              Join the worlds largest community for Knowledge sharing
          </div>
          <div class="signupContentDiv">
              <form class="signupForm" method="POST" action="signup">
                  <input id="firstName" type="text" name="firstName" placeholder="firstname" />
                  <input id="lastName" type="text" name="lastName" placeholder="lastname" />
                  <input id="signupEmail" type="text" name="email" placeholder="email" />
                  <input id="signupPassword" type="text" name="password" placeholder="password" />
                  <input id="signupPasswordConfirm" type="text" name="password" placeholder="confirm password" />
                  <button id="signup" type="submit">signup</button>
              </form>
          </div>
      </div>
  </div>