<div class="searchBar">
    <div class="logo">
        <a href="/index"></a><img src="./img/logo.png" /></a>
    </div>
    <div class="searchForm">
        <form class="formSearch" action="/search" method="GET">
            <input name="searchInput" placeholder="Search" />
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="logout">
        <form method="POST" action="logout">
            <button>logout</button>
        </form>
    </div>
    
</div>