<div class="searchBar">
    <div class="logo">
        <a href="/index"></a><img src="./img/logo.png" /></a>
    </div>
    <div class="searchForm">
        <form class="formSearch"  id = "search">
            <input name="searchInput" placeholder="Search" id = "searchValue">
            
        </form>
        <button type="submit" onclick = "test()">Search</button>
    </div>
    <div class="logout">
        <form method="POST" action="logout">
            <button>logout</button>
        </form>
    </div>
    
</div>