<html>
    <head>
        
    </head>
    <body>
        {{>searchBar}}

        <form id = "submitForm" method="POST" action="editProfile">
        <table id = "information">
            
            <tr>
                <td><p>First Name </p></td>
                <td><input type="text" name="firstName" placeholder="First name"></td>
            </tr>
            <tr>
                <td><p>Last Name </p></td>
                <td><input type="text" name="lastName" placeholder="Last name"></td>
            <tr>
                <td><p>Image URL </p></td>
                <td><input type="text" name="url" placeholder="Image URL"></td>
                
            </tr>
            <tr>
                <td><p>Country </p></td>
                <td><input type="text" name="country" placeholder="Country"></td>
            </tr>
            <tr>
                <td><p>Date of Birth </p></td>
                <td><input type="date" name="dob" placeholder="Date of Birth"></td>
            </tr>
                         
        </table>

        <button type="submit" id="submitButton">Save changes</button>  
        </form>

        <form action = "home">
            <input type="submit" value="Cancel" id="cancel"> 
        </form>
        <p id="err">{{error}}</p>

    </body>
</html>