{{>searchBar}}

<form id="submitForm">
    <table id="information">
        <tr>
            <td>
                <p>First Name </p>
            </td>
            <td><input type="text" placeholder="First name"></td>
        </tr>
        <tr>
            <td>
                <p>Last Name </p>
            </td>
            <td><input type="text" placeholder="Last name"></td>
        <tr>
            <td>
                <p>Image URL </p>
            </td>
            <td><input type="text" placeholder="Image URL"></td>

        </tr>
        <tr>
            <td>
                <p>Country </p>
            </td>
            <td><input type="text" placeholder="Country"></td>
        </tr>
        <tr>
            <td>
                <p>Date of Birth </p>
            </td>
            <td><input type="date" placeholder="Date of Birth"></td>
        </tr>
    </table>

    <button type="submit" id="submitButton">Save changes</button>
</form>

<form action="home">
    <input type="submit" value="Cancel" id="cancel">
</form>