<html>
    <head>
        <link rel = "stylesheet" href = message.css>
    </head>
    <body>
        <div id = "header">
            <img src = "kb.png" id = "logo">
            <input type = "text" placeholder = "Search" id = "searchBar">
            <button type = "button" id  = "logoutButton"> logout</button>
        </div>

        <div id = "main">
            <div id = "picContainer">
                <img src = "https://randomuser.me/api/portraits/med/women/1.jpg" id = "pic">
            </div>
            <div id = "message">
                <form>
                    <input type = "text" placeholder = "subject" id = "subject">
                    <textarea type = "text" placeholder = "message details ...." id = "messageDetails" rows = "6"></textarea>
                    <input type = "submit" value = "Message" id  = "messageButton">
                </form>
            </div>
        </div>

    </body>
</html>