<html>
    <head>
        <link rel = "stylesheet" href = "./stylesheets/profile.css"/>
    </head>

    <div class="searchBar">
            <div class="logo">
                <a href = "home"><img src ="./img/logo.png" id = "logo"></a>
            </div>
            <div class="searchForm">
                <form class="formSearch" action="/search" method="GET">
                    <input name="searchInput" placeholder="Search" />
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="logout">
                <button>logout</button>
            </div>
        </div>

    <div id = "profile">
        <div id = "left">
            <img src="https://randomuser.me/api/portraits/med/men/10.jpg">
            <h1> Kevin Hudson </h1>
            <p> Team Lead | Part Time Singer | Full time dad</p>
            <p> Canada </p>
        </div>

        <div id "right">
            <button type = "button" id = "message"> Message </button>
            <div id = "moreDesc">
                <span id = "likes">
                    <p> 5 Likes</p>
                    <button type = "button" id = "increaseLike"> + </button>
                </span>
                <p>2 Posts</p>
        </div>
    </div>
        
    </div>
    

    <h1 id = "postBy">All posts by Kevin</h1>

    <div id = "content">
        <div class="eachDiscussion">
                    <div class="img">
                        <img src="https://randomuser.me/api/portraits/med/men/39.jpg">
                    </div>
                    <div class="questionContent">
                        <span>nodejs</span>
                        <h4>Node not working</h4>
                        <p>Problems..............................................................</p>
                        <div class="dateReply">
                            <span>5 reply</span>
                            <p>25 oct 2019</p>
                        </div>
                    </div>
                </div>
    </div>


</html>