<h1>knowledgeBase</h1>
<div id="container">
    <div id="div1">
        <h1>Let us know a little more about you</h1>
    </div>

    <div id="div2">
        <form>
            <input type="text" placeholder="imageurl" id="url">
            <textarea type="text" placeholder="a few lines about yourself" rows="3" id="about"></textarea>
            <input type="text" placeholder="country" id="country"></input>
            <input type="text" placeholder="date of birth (mm/dd/yyyy)" id="dob"></input>
            <input type="submit" id="complete" value="complete registration"> </buttn>
        </form>
    </div>
</div>