#submitForm{
    margin: 0 auto;
    text-align: center;
}

#information{
    margin: 0 auto;
}

#information p{
    margin-top: 20px;
}

#information input{
    margin-top: 20px;
}

#submitButton{
    margin-top: 30px;
    margin-left: 150px;
}

