#header{
    text-align: center;
    height: 10%;
    margin-left:15%;
    margin-right: 15%;
}

#logo{
    height: 100%;
    float:left;
}

#searchBar{
    float:left;
    width: 30%;
    margin-top: 25px;
    height: 40%;
}

#logoutButton{
    margin-top: 25px;
    float:right;
    font-size:15px;
    color: whitesmoke;
    background-color: rgb(56, 155, 253);
    border: 1px solid rgb(56, 155, 253);
    padding:5px;
    padding-left:15px;
    padding-right:15px;
}


#main{
    text-align: center;
    margin-top: 50px;
    margin-left: 22%;
    margin-right: 40%;
}

#picContainer{
    float: left;
    margin-left: 40px;
}

#pic{
    margin-left: -30px;
    border-radius: 50%;
    width: 100px;
    border: 3px solid whitesmoke;
}

#message{
    float: right;
    margin-left: -20px;
}

#subject{
    width: 70%;
    float: left;
}

#messageDetails{
    width: 100%;
    margin-top: 20px;
}

#messageButton{
    float: left;
    font-size:15px;
    color: whitesmoke;
    background-color: rgb(56, 155, 253);
    border: 1px solid rgb(56, 155, 253);
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    margin-top: 20px;
}